<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>DiskPercent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cscorner.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Monitor_Details</display-name>
    <servlet-name>Monitor_Details</servlet-name>
    <servlet-class>cscorner.Monitor_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Monitor_Details</servlet-name>
    <url-pattern>/Monitor_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>cscorner.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchRequest</display-name>
    <servlet-name>BatchRequest</servlet-name>
    <servlet-class>org.json.BatchRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchRequest</servlet-name>
    <url-pattern>/BatchRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Batch_Request</display-name>
    <servlet-name>Batch_Request</servlet-name>
    <servlet-class>org.json.BatchRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Batch_Request</servlet-name>
    <url-pattern>/Batch_Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.datastax.driver.core.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandStreamReader</display-name>
    <servlet-name>CommandStreamReader</servlet-name>
    <servlet-class>cscorner.CommandStreamReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandStreamReader</servlet-name>
    <url-pattern>/CommandStreamReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostList</display-name>
    <servlet-name>HostList</servlet-name>
    <servlet-class>cscorner.HostList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostList</servlet-name>
    <url-pattern>/HostList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.datastax.driver.core.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
</web-app>